* {
  box-sizing: border-box;
}

body {
    background-color: #333;
    color: #fff;
    font-family: 'Comic Sans Ms';
}
td, th {
    color: #000;
    border: 1px solid #dddddd;
}

.loadStatus {
    color: red;
}

.guideColumnCell, .guideRowCell {
    background-color: #474540;
}

.episodeLink {
    text-decoration: none;
}

.tableCell {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    text-align: center;
}

.guideOrigin {
    background-color: DimGray;
    font-weight: 600;
    text-align: center;
}

.tableCell a {
    color: #000;
}

.footer a {
    color: #fff;
}

